.reports {
    margin-bottom: 30px;
  }
  
  .report-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .report-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
    min-width: 250px;
  }
  
  .report-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .report-icon {
    color: #007bff;
    font-size: 20px;
    margin-right: 10px;
    height: 20px;
  }
  
  .report-header p {
    flex: 1;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
  }

.report-card:hover {
        transform: scale(1.05); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        transition: color 0.3s ease;
}
  
  .percentage {
    font-size: 14px;
    font-weight: 600;
    color: #007bff;
    margin-left: 30px;
    margin-top: -8px;
  }
  
  .bar {
    background: #e6f0ff;
    height: 8px;
    width: 30vh;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 40px;
  }
  
  .fill {
    height: 100%;
    background: #007bff;
    transition: width 0.3s ease;
  }

.percent-bar {
    display: flex;
}