.greeting-card {
    /* flex: 1; */
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  background-image: url("../../assets/greetingCard.png");
  width: 90%;
  min-width: 300px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  box-sizing: border-box;
  /* margin-top: 10px; */
  /* margin: 40px auto; */
}

.inside-text {
    text-align: left;
    margin-top: 1.0px;
    padding: 1px;
}
  
  .inside-text h3 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .greeting-card .reminder-text {
    font-size: 1rem;
    color: #666;
    font-weight: 600;
    margin: 15px auto;
  }
  
.greeting-card .good-bye {
    font-size: 1rem;
    color: #666;
    font-weight: 600;
    margin-top: 15px auto;
}

  .greeting-card button {
    background: #007bff;
    border: none;
    color: white;
    padding: 10px 35px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    min-width: 150px;
    font-weight: bold;
    width: auto;
  }

.button:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: color 0.3s ease;
  }

.button.clicked {
  color: black;
  }
  
  @media (max-width: 500px) {
    .greeting-card {
      padding: 15px;
      background-size: cover; /* image adapts better on small screens */
    }
  
    .inside-text h3 {
      font-size: 1.2rem;
    }
  
    .greeting-card button {
      width: 100%;  /* full width button on mobile */
    }
  }