.image {
  width: 10%;
  height: auto;
  padding-top: 10px;
}

.eachTimeline {
  border: solid #bcc4d0;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  min-width: 250px;
  width: 80%;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.eachTimeline:hover {
  border: solid #007bff;
}

.actives {
  padding: 5px;
  border-radius: 15px;
  display: flex;
  padding-left: 10px;
  margin-bottom: 10px;
  border: solid #007bff;
  box-shadow: 0 1px 2px #007bff;
  min-width: 250px;
  width: 80%;
}

.next {
  padding: 5px;
  border: solid #bcc4d0;
  border-radius: 15px;
  display: flex;
  padding-left: 10px;
  margin-bottom: 10px;
  min-width: 250px;
  width: 80%;;
  background: #bcc4d0;
}

.name{
  margin-left: 10px;
  flex-grow: 1;
  font: bold;
  
}

.time p {
  white-space: nowrap;
}

.div-time {
  text-align: left;
}

.times {
  padding-right: 5px;
}

.timeline-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1; /* make it stretch between image and end */
}

.shorttimes {
  margin-left: 80px;
  padding-right: 5px;
}

.dashboard {
  padding-left: 40px;
  text-align: left;
  margin-left: 50px;
}

.inline {
  text-align: left;
}

.line {
  border-top: 2px solid black;
  width: 50%;
  justify-self: center;
  margin-top: 20px;
}

.endShift {
  border: solid #007bff;
  background: #007bff;
  border-radius: 15px;
  padding: 10px 50px ;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  width: 90%;
  justify-content: center;
  justify-self: center;
}

.endShift:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transition: color 0.3s ease;
}

.endShift.clicked {
  background-color: white;
  color: black;
  border: solid white;
}

.setReminder {
  border: solid white;
  background: white;
  border-radius: 15px;
  padding: 10px 55px ;
  margin-top: 25px;
  cursor: pointer;
  width: 90%;
  justify-content: center;
  justify-self: center;
}

.setReminder.onclick {
  border: solid #007bff;
  background: #007bff;
  color: white;
}

.setReminder:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transition: color 0.3s ease;
}
